In [2]:
import os

import pandas as pd
import numpy as np

### Read all CSV files into one DataFrame

In [3]:
import glob
path = './Sales_Data'
files = glob.glob(path + '/*.csv')

# create empty list to store dataframes
li = []

# loop through list of files and read each one into a dataframe and append to list
for f in files:
    # read in csv
    temp_df = pd.read_csv(f)
    # append df to list
    li.append(temp_df)
    print(f'Successfully created dataframe for {f} with shape {temp_df.shape}')


# concatenate our list of dataframes into one!
sales = pd.concat(li, axis=0)
print(sales.shape)
sales.head()

Successfully created dataframe for ./Sales_Data/Sales_April_2019.csv with shape (18383, 6)
Successfully created dataframe for ./Sales_Data/Sales_August_2019.csv with shape (12011, 6)
Successfully created dataframe for ./Sales_Data/Sales_December_2019.csv with shape (25117, 6)
Successfully created dataframe for ./Sales_Data/Sales_February_2019.csv with shape (12036, 6)
Successfully created dataframe for ./Sales_Data/Sales_January_2019.csv with shape (9723, 6)
Successfully created dataframe for ./Sales_Data/Sales_July_2019.csv with shape (14371, 6)
Successfully created dataframe for ./Sales_Data/Sales_June_2019.csv with shape (13622, 6)
Successfully created dataframe for ./Sales_Data/Sales_March_2019.csv with shape (15226, 6)
Successfully created dataframe for ./Sales_Data/Sales_May_2019.csv with shape (16635, 6)
Successfully created dataframe for ./Sales_Data/Sales_November_2019.csv with shape (17661, 6)
Successfully created dataframe for ./Sales_Data/Sales_October_2019.csv with shape (20379, 6)
Successfully created dataframe for ./Sales_Data/Sales_September_2019.csv with shape (11686, 6)
(186850, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [11]:
sales.shape

(186850, 6)

In [16]:
orders = pd.DataFrame(sales.groupby('Order ID', as_index = False))

In [10]:
orders.columns

             0                                                  1
38687   179921       Order ID       Product Quantity Ordered P...
92325   233559        Order ID                   Product Quant...
157823  299057       Order ID                 Product Quantity...
84721   225955       Order ID                Product Quantity ...
127435  268669       Order ID           Product Quantity Order...
43783   185017       Order ID           Product Quantity Order...
35657   176891      Order ID                 Product Quantity ...
143207  284441       Order ID               Product Quantity O...
162426  303660       Order ID               Product Quantity O...
51764   192998        Order ID           Product Quantity Orde...